body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #ede3e3; */
}

/* header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;

}  */

.site-container {
  min-height: 100vh;
}
main {
  /* padding: 1 rem; */
  flex: 1;
}

.btn-primary {
  background-color: #f0c040;
  color: black;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating {
  color: #ffc000;
}
.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
  border: none;
}

.product-info {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 60px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

.btnProduct {
  border-radius: 40% 0% 40% 0%;
}

/*Página principal*/
/* body::before {
  display: block;
  content: '';
  height: 60px;
} */

.btn_freezt {
  border-radius: 0px 40px;
  background-color: #000;
  padding: 5px 25px;
  color: #fff;
}

.div_running_freezt {
  border-radius: 40% 0% 40% 0%;
  /* border:2px; */
  /* border-color:#000; */
  /* height: 100%; */
  /* overflow: hidden; */
}

.div_running_freezt img {
  border-bottom-right-radius: 40%;
  border-top-left-radius: 40%;
  /* border-style: solid; */
  /* border-width: 8px; */
  /* border-color: white; */
}
.summary_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  height: 100%;
}

.trainning_title {
  display:flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  color: gray
 
}



/* .h3_second {
  font-size: 70px;
  text-align: center;
} */

.h3_third {
  font-size: 70px;
}

.item_c {
  box-shadow: 5px 5px 5px;
  /* display: flex;
  flex-wrap: wrap; */
  transition: all 400ms ease-out;
}

.item_c:hover {
  transform: scale(1.08);
  transition: all 400ms ease-out;
}

.picture2 {
  display: none;
}
.thumbnail:hover .picture1 {
  display: none;
}
.thumbnail:hover .picture2 {
  display: block;
}

.h3_first { font-size:2.5rem;}

.h3_second {font-size:5rem;} 

@media (max-width: 767px) {  
  .h3_second {font-size:2rem;} 
  .h3_first {font-size:1.5rem;} 
}
 
/* @media (max-width: 992px) { 
  .h3_second {font-size:2.5rem;} 
} */

/* @media (max-width: 1200px) {  
  .h3_second {font-size:4rem;}     
} */
 
 
/* @media (min-width: 950px) and (max-width:1100px) { 
  .h3_second {font-size:2.75rem;color:red;} 
} */


 